.forgot-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forgot-password-heading {
  text-align: center;
  margin: 80px 0 50px 0;
}
.forgot-password-form {
  display: flex;
  flex-direction: column;
}
.forgot-password-button {
  width: 60%;
  margin-top: 2%;
  align-self: center;
  background-color: #059191;
  color: #fff;
}
.forgot-password-button:hover {
  background-color: #037e7e;
}
